In [41]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt
#import sqllite3

In [43]:
import numpy as np
import pandas as pd

In [44]:
import datetime as dt

In [59]:
#!pip install ipython-sql

# Reflect Tables into SQLAlchemy ORM

In [46]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [47]:
engine = create_engine("sqlite:///hawaii.sqlite")

In [48]:
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

In [49]:
# We can view all of the classes that automap found
Base.classes.keys()

[]

In [50]:
# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

AttributeError: measurement

In [16]:
# Create our session (link) from Python to the DB
session = Session(engine)

# Exploratory Climate Analysis

In [19]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results. 
#Starting from the last data point in the database. 
prev_year = dt.date(2017, 8, 23)
# Calculate the date one year from the last date in data set.
prev_year = dt.date(2017, 8, 23) - dt.timedelta(days=365)
# Perform a query to retrieve the data and precipitation scores
results = []
# Save the query results as a Pandas DataFrame and set the index to the date column
results = session.query(Measurement.date, Measurement.prcp)
# Sort the dataframe by date
print(results.all())
# Use Pandas Plotting with Matplotlib to plot the data
results = session.query(Measurement.date, Measurement.prcp).filter(Measurement.date >= prev_year).all()
print(results)

NameError: name 'Measurement' is not defined

In [20]:
# Use Pandas to calcualte the summary statistics for the precipitation data
df = pd.DataFrame(results, columns=['date','precipitation'])

In [21]:
# How many stations are available in this dataset?
df.set_index(df['date'], inplace=True)
print(df)

Empty DataFrame
Columns: [date, precipitation]
Index: []

In [22]:
print(df.to_string(index=False))

Empty DataFrame
Columns: [date, precipitation]
Index: []

In [25]:
df = df.sort_index()
print(df.to_string(index=False))

Empty DataFrame
Columns: [date, precipitation]
Index: []

In [26]:
df.plot()

TypeError: no numeric data to plot

In [ ]:
df.describe()

In [ ]:
session.query()

In [ ]:
session.query(func.count(Station.station)).all()

In [ ]:
session.query(Measurement.station, func.count(Measurement.station))

In [51]:
session.query(Measurement.station, func.count(Measurement.station)).\
    group_by(Measurement.station)

NameError: name 'Measurement' is not defined

In [52]:
# 9.3.2 Determine the Most Active Stations
# What are the most active stations?
# List the stations and the counts in descending order.
session.query(Measurement.station, func.count(Measurement.station)).\
group_by(Measurement.station).order_by(func.count(Measurement.station).desc()).all()

NameError: name 'Measurement' is not defined

In [ ]:
# 9.3.3 Find Low, High, and Average Temperatures
# Using the station id from the previous query, calculate the lowest temperature recorded, 
# highest temperature recorded, and average temperature most active station?
session.query(func.min(Measurement.tobs), func.max(Measurement.tobs), func.avg(Measurement.tobs)).\
filter(Measurement.station == 'USC00519281').all()

In [ ]:
# 9.3.4 Plot the Highest Number of Observations

session.query(Measurement.tobs)
results = session.query(Measurement.tobs).\
filter(Measurement.station == 'USC00519281')
filter(Measurement.date >= prev_year).all()
print(results)

In [ ]:
# To convert the results to a DataFrame, add the following to your code
df = pd.DataFrame(results, columns=['tobs'])
print(df)

In [ ]:
# Choose the station with the highest number of temperature observations.
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram
df.plot.hist(bins=12)
plt.tight_layout()

In [ ]:
# compress the x-axis labels so that they fit into the box holding our plot.
plt.tight_layout()

In [56]:
# 9.4.2 Building Flask Routes
#!pip install flask
#!pip install psycopg2-binary

In [65]:
from flask import Flask

In [66]:
# Create a New Flask App Instance
app = Flask(__name__)

In [67]:
# Create Flask Routes
@app.route('/')
def hello_world():
    return 'Hello world'

In [68]:
# Export and Run a Flask App
export FLASK_APP=app.py
set FLASK_APP=app.py
flask run
localhost:5000

SyntaxError: invalid syntax (4175845054.py, line 2)

In [ ]:
# 9.5.1 Set Up the Database and Flask

In [74]:
# Set Up the Flask Weather App
import datetime as dt
import numpy as np
import pandas as pd

In [75]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [76]:
from flask import Flask, jsonify

In [77]:
engine = create_engine("sqlite:///hawaii.sqlite")

In [78]:
Base = automap_base()

In [79]:
# to reflect tables
Base.prepare()

In [80]:
# the following code to reflect the database
Base.prepare(engine, reflect=True)

In [81]:
#  variable for each of the classes so that we can reference them later, as shown below.
Measurement = Base.classes.measurement
Station = Base.classes.station

AttributeError: measurement

In [86]:
# Finally, create a session link from Python to our database with the following code:

session = Session(engine)

In [87]:
# Set Up Flask
app = Flask(__name__)

In [89]:
# 9.5.2 Create the Welcome Route
@app.route("/")
def welcome():
    return(
    '''
    Welcome to the Climate Analysis API!
    Available Routes:
    /api/v1.0/precipitation
    /api/v1.0/stations
    /api/v1.0/tobs
    /api/v1.0/temp/start/end
    ''')
flask run

SyntaxError: invalid syntax (2102048463.py, line 13)

In [ ]:
# 9.5.3 Precipitation Route
#To create the route, add the following code. Make sure that it's aligned all the way to the left.
# converts the dictionary to a JSON file.
@app.route("/api/v1.0/precipitation")
def precipitation():
    prev_year = dt.date(2017, 8, 23) - dt.timedelta(days=365)
    precipitation = session.query(Measurement.date, Measurement.prcp).\
      filter(Measurement.date >= prev_year).all()
    precip = {date: prcp for date, prcp in precipitation}
   return jsonify(precip)
    return

In [ ]:
#9.5.4 Stations Route
@app.route("/api/v1.0/stations")

In [ ]:
# create station
def stations():
    return

In [ ]:
# create query with station
def stations():
    results = session.query(Station.station).all()
    stations = list(np.ravel(results))
    return jsonify(stations=stations)

In [91]:
# 9.5.5 Monthly Temperature Route
@app.route("/api/v1.0/tobs")
def temp_monthly():
    prev_year = dt.date(2017, 8, 23) - dt.timedelta(days=365)
    results = session.query(Measurement.tobs).\
      filter(Measurement.station == 'USC00519281').\
      filter(Measurement.date >= prev_year).all()
    temps = list(np.ravel(results))
    return jsonify(temps=temps)

In [92]:
# to run it in the browser
flask run

SyntaxError: invalid syntax (645207457.py, line 1)

In [94]:
# 9.5.6 Statistics Route
# to create the routes:

@app.route("/api/v1.0/temp/<start>")
@app.route("/api/v1.0/temp/<start>/<end>")

SyntaxError: unexpected EOF while parsing (2115786964.py, line 5)

In [ ]:
# create a function

def stats(start=None, end=None):
    sel = [func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)]

    if not end:
        results = session.query(*sel).\
            filter(Measurement.date >= start).all()
        temps = list(np.ravel(results))
        return jsonify(temps)

    results = session.query(*sel).\
        filter(Measurement.date >= start).\
        filter(Measurement.date <= end).all()
    temps = list(np.ravel(results))
    return jsonify(temps)

flask run

In [ ]:
# Write a function called `calc_temps` that will accept start date and end date in the format '%Y-%m-%d' 
# and return the minimum, average, and maximum temperatures for that range of dates

# Challenge